{% extends './common/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div style="margin-left: 40%;">
    <form action="" method="POST" style="max-width: 400px; " enctype="multipart/form-data">
        {% csrf_token %}
        <p>Upload the files and view them in the table view.</p>
        <p>Check the box if you want the file to be visible to all.</p>
        <br>
        {{form|crispy}}
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}